.cell {
    line-height: 1;

    z-index: $z-index-cell;

    overflow: hidden;
    width: $cell-width;
    min-width: $min-cell-width;
    height: 100%;

    padding: rem(5px);

    white-space: nowrap;

    transition-property: width;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    border-width: 0 rem($border-width) rem($border-width) 0;
    border-style: solid;
    border-color: $border-color;
    outline: none;

    &--selected {
        border: none;
        outline: rem(2px) solid $cell-selected;
    }
}
