.container {
    $horizontal-padding: 15px;

    width: 100%;
    max-width: rem($container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: rem($horizontal-padding);
    padding-left: rem($horizontal-padding);

    @media #{$screen-min-sm} {
        max-width: rem(540px);
    }

    @media #{$screen-min-md} {
        max-width: rem(720px);
    }

    @media #{$screen-min-lg} {
        max-width: rem(960px);
    }

    @media #{$screen-min-xl} {
        max-width: rem(1140px);
    }

    &-excel {
        $horizontal-margin: 20px;

        max-width: rem($container-width);
        margin-left: rem($horizontal-margin);
        margin-right: rem($horizontal-margin);
    }
}
