.excel-header {
    padding: rem(10px) 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-grow: 1;

        &-icon {
            padding-top: rem(7px);
        }
    }

    &__input {
        flex-grow: 10;
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__button {
        &:not(:last-child) {
            margin-right: rem(10px);
        }
    }
}
