.excel-header {
    padding: rem(10px) 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$screen-max-md} {
            flex-wrap: wrap;
        }
    }

    &__logo {
        flex-grow: 1;

        &-icon {
            padding-top: rem(7px);
        }
    }

    &__title {
        $font-size: 20px;

        font-size: rem($font-size);
        line-height: (22px / $font-size);

        flex-grow: 10;
        padding: rem(5px) rem(10px);
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        @media #{$screen-max-md} {
            justify-content: space-between;
            margin-top: rem(10px);
        }
    }

    &__button {
        &:not(:last-child) {
            margin-right: rem(10px);
        }

        @media #{$screen-max-md} {
            flex-grow: 1;
        }
    }
}
