.formula {
    $padding-vertical: 3px;
    $padding-horizontal: 5px;

    display: flex;
    align-items: center;

    padding: rem($padding-vertical) 0;

    &__info {
        font-size: rem(18px);
        font-weight: $bold;

        cursor: default;

        color: rgba($shuttle-gray, .7);
    }

    &__entry-field {
        width: 100%;
        height: 100%;

        padding-left: rem($padding-horizontal);

        outline: none;
    }
}
