.header {
    &-dashboard {
        position: fixed;
        z-index: $z-index-header;
        top: 0;
        left: 0;

        width: 100%;
        height: rem($header-height);

        box-shadow: 0 rem(3px) rem(10px) rgba($black, .05);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: rem($header-height);
    }

    &__logo {
        flex-grow: 1;

        &-icon {
            padding-top: rem(7px);
        }
    }
}
