.icon {
    &--logo {
        $size: 40px;

        width: rem($size);
        height: rem($size);
    }

    &--toolbar {
        $size: 20px;

        width: rem($size);
        height: rem($size);

        color: rgba($black, .7);
    }

    &--add {
        $size: 50px;

        width: rem($size);
        height: rem($size);

        color: $excel-color;
    }
}
