.input {
    padding: rem(10px);

    transition-property: background-color, box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    border: rem($border-width) solid $bombay;
    border-radius: rem($border-radius-sm);
    outline: none;
    background-color: $bombay;

    &:focus {
        background-color: $white;
        box-shadow: 0 rem(1px) rem(1px) 0 rgba($shadow, .3), 0 rem(1px) rem(3px) rem(1px) rgba($shadow, .15);
    }
}
