.row {
    position: relative;

    display: flex;

    height: rem($row-height);
    min-height: rem($row-height);

    transition-property: height;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: rem($min-cell-width);
        height: 100%;

        border-width: 0 rem($border-width) rem($border-width) rem($border-width);
        border-style: solid;
        border-color: $border-color;
        background-color: $cell-info-color;
    }

    &__data {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__resize {
        position: absolute;
        z-index: $z-index-resizer;
        right: 0;
        bottom: 0;

        width: 100%;
        height: rem(3px);

        cursor: row-resize;
        transition-property: opacity;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-function;

        opacity: 0;
        background-color: $cell-selected;

        &:hover {
            opacity: 1!important;
        }
    }
}
