.row {
    display: flex;

    height: rem($row-height);

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: rem($min-cell-width);
        height: 100%;

        border-width: 0 rem($border-width) rem($border-width) rem($border-width);
        border-style: solid;
        border-color: $border-color;
        background-color: $cell-info-color;
    }

    &__data {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
